<aside class="sidebar p-2 w3-rightbar bg-light shadow show-sidebar" id="sidebar" >
    <!-- icn -->
    <ion-icon name="chevron-forward-outline" class="bg-success rounded py-2" title="Sidebar" id="sidebar-toggler"></ion-icon>
    <div class="input-group mb-2">
        <input type="text" id="myInput" class="form-control" placeholder="Search for names">
        <div class="input-group-append">
            <button class="btn w3-green" type="button"><ion-icon name="search-outline"></ion-icon></button>
        </div>
    </div>
    <!-- rooms -->
    <div class="p-2 rooms" id="rooms">
    </div>
</aside>